<div class="row">
  <div class="col-xs-12">
    <img [src]="selectedRecepie.imagePath" 
    alt="{{selectedRecepie.name}}" 
    class="img-responsive"
    style="max-height: 300px;" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>
      {{selectedRecepie.name}}
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!--  dropdown -->
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recepie <span class="carets"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recepie</a></li>
        <li><a href="#">Delete Recepie</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{selectedRecepie.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Igredients
  </div>
</div>